body {
  background-color: lavender;
}

h1 {
  text-align: center;
  color: aquamarine;
  text-shadow: 2px 2px #000;
  margin: 50px 0;
  text-transform: uppercase;
}

.table-1 {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
